@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Lateef&family=Reem+Kufi&display=swap');

h1 {
    color: hotpink;
    font-size: x-large;
    font-style: bold;
    font-family: 'Amiri', 'Lateef', 'Reem Kufi', cairo, 'noto naskh arabic', scheherazade, tahoma, arial, sans-serif;
}
p {
    color: lightpink;
    font-size: large;
    font-style: italic;
}